* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.list-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  /* align-items: top; */
  flex-direction: row;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.75);
}

.backdrop.visible {
  display: block;
  pointer-events: all;
}

.add-task-modal {
  padding: 1rem;
  display: none;
  position: fixed;
  z-index: 11;
  background: white;
  border-radius: 10px;
  max-width: 80%;
  top: 30vh;
  left: 25%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.add-task-modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.more-info-modal {
  display: none;
  position: fixed;
  z-index: 11;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

.more-info-modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.add-task-btn-div {
  text-align: center;
  max-width: 40%;
  margin: 2rem auto;
}

#app-info {
  color: #0091ea;
}

#add-task-btn {
  border: 1px solid #0091ea;
  background-color: #0091ea;
  border: 1px solid #0091ea;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

#add-task-btn:active,
#add-task-btn:hover {
  background-color: #0000ff;
  border: 1px solid #0000ff;
}

#main-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

#main-header h1 {
  color: white;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

li {
  margin: 1rem 0;
}

section {
  margin: 1rem auto;
  width: 40rem;
  max-width: 90%;
}

section ul {
  padding: 1rem;
  max-height: 20rem;
  overflow: scroll;
}

section > h2 {
  color: white;
  margin: 0;
}

button {
  font: inherit;
  background: #ff0062;
  color: white;
  border: 1px solid #ff0062;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button.alt {
  background: white;
  color: #ff0062;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #ff2579;
  border-color: #ff2579;
  color: white;
}

#task-creator {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
}

input {
  max-width: 39rem;
  margin: 0.5rem;
  padding: 0.2rem;
  background-color: #091921;
  color: white;
}

#add-task-button {
  margin: 0.5rem;
}

textarea {
  margin: 0.5rem;
  background-color: #091921;
  color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background: white;
}

.droppable {
  background-color: #ffe0ec;
}

#active-projects {
  border: 1px solid #fff;
  width: 100%;
  margin-right: 2rem;
}

.hidden {
  display: none;
}

#active-projects > header {
  background: #00ff00;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#active-projects header h2 {
  color: white;
  margin: 0;
}

#finished-projects {
  border: 1px solid #fff;
  width: 100%;
  margin-left: 2rem;
}

#finished-projects > header {
  background: #ff0000;
  padding: 1rem;
  display: flex;
  justify-content: space-evenlyx;
  align-items: center;
}

#finished-projects header h2 {
  color: white;
  margin: 0;
}
